@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');
//this design colors
:root{
--clr-green:hsl(75, 94%, 57%);
--clr-white: hsl(0, 0%, 100%);
--clr-grey: hwb(0 20% 80%);
--clr-darkGrey: hsl(0, 0%, 12%);
--clr-black: hsl(0, 0%, 8%);
//primary font
--primary-font : "Inter", sans-serif;
}